body { background: #680cdf; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 16px; display: flex; }
.block-cache-0 { color: #10fd29; font-size: 16px; margin-bottom: 5px; }
.block-token-1 { color: #7d6038; font-size: 16px; margin-bottom: 5px; }
.block-sms-2 { color: #c7148f; font-size: 21px; margin-bottom: 5px; }
.block-cache-3 { color: #b06543; font-size: 20px; margin-bottom: 5px; }
.block-helper-4 { color: #a8e29a; font-size: 21px; margin-bottom: 5px; }